#Sample configuration file for MSD
# - Must contain 'ip=','port=','switch=', and 'board='
# - Comments preceeded by '#' are valid

#change this to host ip accessible by guest
ip=127.0.0.1

#chose desired port
port=12345

#all message types go through software mailbox
switch=4095

#'board=' entries must be unique strings, no longer than X characters,
# entries must not exceed the number of devices present on the host.
board=123abc
#board=xyz456
#board=un1queIDforb0ard3

