build/Debug*
build/WDebug*
build/Release*
build/WRelease*
docs/.buildinfo
docs/.doctrees
tests/xrt/build/Debug*
tests/xrt/build/WDebug*
tests/xrt/build/Release*
tests/xrt/build/WRelease*
tests/unit_test/build
*.o
*.swp
*.swo
*~
tags
*.mod
*.ko
*.nfs*
\#*\#
\.\#*
a.out
a.xclbin
vivado.log
vivado.jou
/.vs
