build/Debug*
build/WDebug*
build/Release*
build/WRelease*
build/aarch64
build/versal
build/deb_arm32
build/deb_arm64
build/boost
docs/.buildinfo
docs/.doctrees
tests/xrt/build/Debug*
tests/xrt/build/WDebug*
tests/xrt/build/Release*
tests/xrt/build/WRelease*
tests/unit_test/build
*.o
*.swp
*.swo
*~
tags
*.mod
*.ko
*.nfs*
\#*\#
\.\#*
a.out
a.xclbin
vivado.log
vivado.jou
.vs
.vscode
