[Unit]
Description=apu-boot
Requires=skd.service
After=skd.service
 
[Service]
ExecStart=/usr/bin/apu-boot
StandardOutput=journal+console
 
[Install]
WantedBy=multi-user.target
