[Unit]
Description=Soft Kernel Daemon
After=init-apu.service

[Service]
Type=forking
User=softkernel
ExecStart=/usr/bin/skd
StandardOutput=journal+console
MemoryLimit=1G

[Install]
WantedBy=multi-user.target
