[Unit]
Description=Soft Kernel Daemon

[Service]
Type=forking
ExecStart=/usr/bin/skd
StandardOutput=journal+console
MemoryLimit=1G

[Install]
WantedBy=multi-user.target
