name: repository-dispatch-mirror

on:
  workflow_dispatch:
  pull_request:
    types: [opened, edited, synchronize]

jobs:
  run-repository-dispatch:
    runs-on: self-hosted
    steps:
      - name: Trigger Workflow
        run: |
          curl -L \
          -X POST \
          -H "Accept: application/vnd.github+json" \
          -H "Authorization: Bearer ${{ secrets.CI_DOMAIN_TOKEN }}" \
          "https://${{ secrets.CI_DOMAIN_URL }}/api/v3/repos/${{ secrets.CI_DOMAIN_OWNER }}/${{ secrets.CI_DOMAIN_REPO }}/actions/workflows/${{ secrets.CI_DOMAIN_WORKFLOW }}/dispatches" \
          -d '{"ref": "main", inputs: { branch_name: ${{ github.event.pull_request.ref }} }}'